<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719087501485-li4gmlptfmhtfeacuvdof55eaa7m7pnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719087501485-li4gmlptfmhtfeacuvdof55eaa7m7pnv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>719087501485-9ffsr575ms8p5f1dme3vkevu6q3g4v1s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrEVsYo0034NnSsjRejtZrg3gkB4Cg1Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>719087501485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dalilk</string>
	<key>PROJECT_ID</key>
	<string>dalilk-fe-edak</string>
	<key>STORAGE_BUCKET</key>
	<string>dalilk-fe-edak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719087501485:ios:5bbbf15c1812503b09c624</string>
</dict>
</plist>